<%# content_for :head do %>
  <%= stylesheet_link_tag 'search', media: 'all', 'data-turbolinks-track': 'reload' %>
<%# end %>

<%= render "shared/header" %>

<div class="center-container">
  <div class="container">
    <div class="search-condition">
      <form id="search-form" action="<%= execute_search_search_index_path %>" method="post">
        <table class="condition-table">
          <tr>
            <td class="condition-first-row" colspan="4">
              <input type="date" id="start_date" name="start_date">
              <span>から</span>
              <input type="date" id="end_date" name="end_date">
              <span>イベント名：</span>
              <input type="text" id="event_name" name="event_name">
            <td>
            <td class="search_button" rowspan="2">
              <button type="submit" id="search_button">検索実行</button>
            </td>
            <td class="reset_conditions_button" rowspan="2">
              <button type="button" id="reset_conditions_button">リセット</button>
            </td>
          </tr>
          <tr>
            <td>
              <select id="camera-make" name="camera-make">
                <option value="apple">canon</option>
              </select>
            </td>
            <td>
              <select id="camera-model" name="camera-model">
                <option value="apple">eos5d</option>
              </select>
            </td>
            <td>
              <select id="lens-make" name="lens-make">
                <option value="apple">sigma</option>
              </select>
            </td>
            <td>
              <select id="lens-model" name="lens-model">
                <option value="apple">50mmf1.5</option>
              </select>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="results-container">
      <table id="results" class="results">
        <thead>
          <tr>
            <th>サムネイル</th>
            <th>撮影日</th>
            <th>イベント</th>
            <th>カメラMaker</th>
            <th>カメラModel</th>
            <th>レンズMaker</th>
            <th>レンズModel</th>
          </tr>
        </thead>
        <tbody id="search-results" class="tbody-container">
        </tbody>
      </table>
    </div>
    <div class="search-operations">
      <div class="space-operation"></div>
      <button id="photo-operation">詳　細</button>
      <button id="reset-operation">リセット</button>
    </div>
  </div>
</div>

<%= javascript_include_tag "search" %>
