<header class='top-page-header'>
  <div class="header-container">
    <div class="spacer"></div>
    <div class="app-name">Life Album</div>
    <div class="copyright">
      Licensed by RoundShape
    </div>
  </div>
</header>
