.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.navigation {
  display: flex;
  width: 985px;
  background-color: lawngreen;
}

.left_nav_space {
  width: 30px;
}

.nav_search {
  font-size: 18px;
  width: 100px;
}

.nav_search:hover {
  background-color: yellow; /* マウスオーバー時に背景色を黄色にする */
}

.right_nav_space {
  width: 30px;
}

.upper-container {
  display: flex;
  background-color: white;
}

.calendar-container {
  width: 550px; /* calendar-containerの幅を500pxに設定 */
  background-color: rgb(206, 237, 206);
}

.calendar-heading {
  display: flex; /* Flexboxレイアウトを有効化 */
  justify-content: center; /* 子要素を水平方向の中央に配置 */
  align-items: center; /* 子要素を垂直方向の中央に配置 */
}

.calendar-heading time {
  margin-right: 20px; /* <time>タグと<nav>タグの間に20pxのスペースを追加 */
}

.calendar-container .day-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-container .date-number {
  display: flex;
  justify-content: center;
  width: 100%; /* 必要に応じて調整 */
}

.calendar-container .event-icon {
  /* 必要に応じてスタイルを追加 */
}

.calendar-container .event-count {
  /* イベント数表示のスタイル */
}

.simple-calendar .day {
  height: 60px !important;
}

/* ===========イベント一覧関係 ========== */
.list-container {
  width: 400px; /* list-containerの幅を250pxに設定 */
  border: 2px solid #000; /* 黒の四角い枠線を設定 */
  padding: 10px; /* 内側の余白を設定 */
  margin-left: 10px;
}

.list-title {
  display: flex;
}

.selected-day {
  margin-left: 10px;
}

.list-container ul {
  list-style-type: none; /* リストのスタイルを無しに設定 */
  padding: 0; /* ulのパディングをリセット */
}

.list-container ul li {
  border-bottom: 1px solid #ccc; /* 各リストアイテムの下に薄いグレーの罫線を設定 */
  padding: 8px 0; /* リストアイテムの上下にパディングを設定 */
  text-align: left;
}

.list-container ul li:last-child {
  border-bottom: none; /* 最後のリストアイテムの下線を消去 */
}


/* ===========地図関係 ========== */
#map {
  height: calc(100vh - 550px);
  width: calc(550px + 400px + 20px);
  margin-top: 10px;
}
