.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

/* .container {
  margin: 0;
} */

.image-container {
  display: flex; /* Flexboxを使用して画像を横並びにする */
  overflow-x: auto; /* 水平方向のスクロールバーを表示 */
  white-space: nowrap; /* 画像が折り返されないようにする */
  width: 900px;
  border: 1px solid black;
}

.image-box {
  border: 1px solid black; /* 枠線を追加 */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* 枠外の画像を隠す */
  width: 256px; /* 固定幅を設定 */
  height: 256px; /* 高さも固定 (必要に応じて) */
  flex-shrink: 0; /* このアイテムが縮小されないようにする */
  margin-right: 8px; /* 画像間のスペース (オプション) */
}

.image-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* アスペクト比を保ちながら全体を表示 */
}

/* Dropzoneの指定 */
.dropzone .dz-preview .dz-image {
  border-radius: 0 !important;
}


/* 選択画像ハイライト表示用のスタイル */
.highlight {
  border-color: red; /* ハイライト色を赤にする */
  border-width: 2px; /* 枠線の幅を太くする */
  background-color: lightblue; /* 背景色を薄い水色にする */
}

.radio-buttons form {
  margin-top: 20px; /* 画像一覧との間隔 */
  display: flex; /* Flexboxを使用してアイテムを横並びにする */
  justify-content: center; /* 中央寄せ */
}

.radio-buttons label {
  margin-right: 20px; /* 最後のラベル以外、右側にスペースを追加 */
}

.radio-buttons input[type="radio"] {
  margin-right: 5px; /* ラジオボタンとラベルの間に少しスペースを追加 */
}

#photo-details {
  margin-left: auto;
  margin-right: auto;
  display: block; /* 最初は非表示 */
}

.selected-image-box {
  width: 501px;
  height: 501px;
  border: 1px solid black;
}

.fit-image {
  width: 500px; /* コンテナの幅を設定 */
  height: 500px; /* コンテナの高さを設定 */
  object-fit: contain; /* 元のアスペクト比を保ちながら、コンテナ内に画像全体が収まるようにする */
  object-position: center; /* 画像をコンテナの中央に配置 */
  margin: auto; /* コンテナ内で中央揃えにする */
  margin: auto;
}

.photo-details-mid-spacer {
  width: 20px;
}

.photo-exif-box {
  height: 501px;
  width: 350px;
  border: 1px solid black;
  text-align: left;
}

#map {
  height: calc(100vh - 370px);
  width: calc(512px + 350px + 20px);
  margin: 0;
}
